body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}

.layout {
    display: flex;
    height: 100%;
    background-color: #f5f5f5; /* Light gray background */

}

.map-container {
    flex: 3;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-right: 1px solid #ddd; 
}

.zooming-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer; /* Change cursor to pointer */
    transition: transform 0.3s ease;
}

.zooming-area:active {
    cursor: grabbing;
}

.background-map {
    width: 100%;
    display: block;
}

.building-objects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#timeline {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3; /* Update z-index */
    background-color: #fff; /* White background */
    padding: 10px;
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.toolbar,
.property-details,
.ownership-details {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.property-details button,
.ownership-details button {
    margin-right: 10px;
}

.zoom-controls {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.building-object {
    fill: #999999;
    transition: all 0.3s;
}

.building-object:hover {
    stroke: #ff6600;
    stroke-width: 6px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

/* Added styles for the active state */
.building-object.active {
    fill: orange;
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
}
