body, html {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

.map-container {
    flex: 3;
    position: relative;
    overflow: hidden;
}

.background-map, .building-objects {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease; /* Smooth zoom transition */
}

.zoom-controls {
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 3;
}

#timeline {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3; /* To ensure it stays above the map and other elements */
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
}

.summary-box {
    padding: 20px;
}

.building-object {
    fill: #999999;
    transition: all 0.3s;
    left: 2px;
    top: 1px;
}

.building-object:hover {
    stroke: #ff6600;
    stroke-width: 6px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
