body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout {
    display: flex;
    height: 100%;
}

.map-container {
    flex: 3;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.zooming-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; /* Adjusted */
    left: 0; /* Adjusted */
    cursor: grab;
    transition: transform 0.3s ease; /* Added for smooth zooming */
}

.zooming-area:active {
    cursor: grabbing;
}

.background-map {
    width: 100%; /* Maintain proportions */
    display: block; /* Maintain proportions */
}

.building-objects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#timeline {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
}

.summary-box {
    padding: 20px;
}

.zoom-controls {
    position: absolute;
    bottom: 40px;
    left: 10px; /* Changed from right to left */
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.building-object {
    fill: #999999;
    transition: all 0.3s;
}

.building-object:hover {
    stroke: #ff6600;
    stroke-width: 6px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
